Source: afdko
Section: fonts
Priority: optional
Maintainer: Debian Fonts Task Force <pkg-fonts-devel@lists.alioth.debian.org>
Uploaders: ChangZhuo Chen (陳昌倬) <czchen@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/adobe-type-tools/afdko
Vcs-Git: git://anonscm.debian.org/pkg-fonts/afdko.git
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-fonts/afdko.git

Package: afdko
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         python-minimal,
Description: Adobe Font Development Kit for OpenType
 Adobe Font Development Kit for OpenType (AFDKO) is a set of tools for
 building OpenType font files from PostScript and TrueType font data.
