#!/usr/bin/make -f
#DH_VERBOSE = 1

%:
	dh $@ 

override_dh_auto_build:
	cd FDK/Tools/Programs && ./BuildAllLinux.sh

override_dh_auto_install:
	mkdir -p debian/afdko/usr/bin
	cp FDK/Tools/linux/* debian/afdko/usr/bin
